<div class="d-flex bd-highlight mb-3">
    <div class="bd-highlight">
        <h3 class="section-header-text m-0">Recently Answered Questions</h3>
    </div>
    <div class="ms-auto bd-highlight">
        <a routerLink="/search" class="btn btn-outline-secondary">
            View All
        </a>
    </div>
</div>

<ul class="list-group list-questions mb-4">
    <a href="#">
        <li class="list-group-item">
            <div class="container-fluid mb-1">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <div class="d-lg-flex justify-content-start">
                            <p class="mb-0">Does a quick brown fox jumps over the lazy fat dog?</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="d-lg-flex justify-content-end">
                            <p class="text-muted mb-0">18 minutes ago</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <div class="d-lg-flex justify-content-start">
                            <p class="badge bg-primary mb-0">Enrollment</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="d-lg-flex justify-content-end">
                            <p class="badge bg-success mb-0">Answered</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </a>
    <a href="#">
        <li class="list-group-item">
            <div class="container-fluid mb-1">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <div class="d-lg-flex justify-content-start">
                            <p class="mb-0">Does a quick brown fox jumps over the lazy fat dog?</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="d-lg-flex justify-content-end">
                            <p class="text-muted mb-0">18 minutes ago</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <div class="d-lg-flex justify-content-start">
                            <p class="badge bg-primary mb-0">Enrollment</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="d-lg-flex justify-content-end">
                            <p class="badge bg-success mb-0">Answered</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </a>
</ul>

<div class="d-flex bd-highlight mb-3">
    <div class="bd-highlight">
        <h3 class="section-header-text m-0">Unanswered Questions</h3>
    </div>
    <div class="ms-auto bd-highlight">
        <a routerLink="/search" class="btn btn-outline-secondary">
            View All
        </a>
    </div>
</div>

<ul class="list-group list-questions">
    <a href="#">
        <li class="list-group-item">
            <div class="container-fluid mb-1">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <div class="d-lg-flex justify-content-start">
                            <p class="mb-0">Does a quick brown fox jumps over the lazy fat dog?</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="d-lg-flex justify-content-end">
                            <p class="text-muted mb-0">18 minutes ago</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <div class="d-lg-flex justify-content-start">
                            <p class="badge bg-primary mb-0">Enrollment</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="d-lg-flex justify-content-end">
                            <p class="badge bg-warning mb-0">Pending</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </a>
    <a href="#">
        <li class="list-group-item">
            <div class="container-fluid mb-1">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <div class="d-lg-flex justify-content-start">
                            <p class="mb-0">Does a quick brown fox jumps over the lazy fat dog?</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="d-lg-flex justify-content-end">
                            <p class="text-muted mb-0">18 minutes ago</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <div class="d-lg-flex justify-content-start">
                            <p class="badge bg-primary mb-0">Enrollment</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="d-lg-flex justify-content-end">
                            <p class="badge bg-warning mb-0">Pending</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </a>
</ul>