<div class="row justify-content-center">
    <div class="col-12 col-lg-6">
        <a routerLink="/search" class="btn btn-outline-secondary mb-4">
            ◁ Back to Search
        </a>
        <div class="card mb-4">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-2">
                    <p class="badge bg-primary mb-0">Enrollment</p>
                    <p class="text-muted mb-0">#1</p>
                </div>
                <h4>Does the quick brown fox jumps over the lazy fat dog?</h4>
                <p class="text-muted mb-0"><span class="badge bg-success">Answered</span> 10 minutes ago</p>
            </div>
            <div class="card-footer text-muted border-bottom">
                <small>Tags: tag1, tag2, tag3</small>
            </div>
            <div class="card-body">
                <div class="d-flex mb-4">
                    <img class="answer-user-img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
                    <div>
                        <p class="mb-0"><strong class="mb-0">Test Admin</strong></p>
                        <small class="text-muted">5 minutes ago</small>
                    </div>
                </div>
                <p>Yes.</p>
                <hr>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-sm btn-outline-primary">
                        Ask a Follow-Up Question
                    </button>
                    <button class="btn btn-sm btn-outline-secondary">
                        Share
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>