<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© 2022 CS3</p>

    <a routerLink="/"
      class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <h3>CS3-KMS</h3>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item" *ngIf="router.url != '/about'"><a routerLink="/about" class="nav-link px-2 text-muted">About</a></li>
      <li class="nav-item" *ngIf="router.url != '/terms'"><a routerLink="/terms" class="nav-link px-2 text-muted">Terms of Use</a></li>
      <li class="nav-item" *ngIf="router.url != '/privacy'"><a routerLink="/privacy" class="nav-link px-2 text-muted">Privacy Policy</a></li>
      <li class="nav-item" *ngIf="router.url != '/login'"><a routerLink="/login" class="nav-link px-2 text-muted">Admin Login</a></li>
    </ul>
  </footer>
</div>
